@{
	ViewBag.Title = "Student Home Page";
}

<div class="row">
	<div class="col-md-4">
		<h2>Enrollments</h2>
		<p>@Html.ActionLink("Click here to see your current enrollments", "Details", "Enrollment", new { id = ViewBag.Message}, new { @class = "btn btn-default", role = "button" })</p>
	</div>
	<div class="col-md-4">
		<h2>Courses</h2>
		<p>@Html.ActionLink("Click here to see all courses", "Index", "Course", null, new { @class = "btn btn-default", role = "button" })</p>
	</div>
	<div class="col-md-4">
		<h2>New Enrollment</h2>
		<p>@Html.ActionLink("Click here to enroll in a new course", "Create", "Enrollment", new { id = ViewBag.Message }, new { @class = "btn btn-default", role = "button" })</p>
	</div>
</div>